<html>
  <meta charset="UTF-8"/>
  <head>
    <title>Все новости</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">

    <!-- Telegram messages styles -->
    <link href="//telegram.org/css/font-roboto.css?1" rel="stylesheet" type="text/css">
    <link href="//telegram.org/css/widget-frame.css?66" rel="stylesheet" media="screen">
    <link href="//telegram.org/css/telegram-web.css?37" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="wrapper">
      <div class="tg">
        <h4 style="display: none;">Telegram></h4>
        [% FOREACH tg IN tg_news %]
          <div class="tgitem [% tg.recency %]">[% tg.content %]</div>
          <p style="display: none;">[% tg.hdate %] <a href="[% tg.url %]">[% tg.url %]></a></p>
        [% END %]
      </div>
      <div class="yt">
        <h4 style="display: none;">Youtube</h4>
        [% FOREACH yt IN yt_news %]
          <div class="ytitem [% yt.recency %]">
            <small><a href="[% yt.url %]">[% yt.title %]</a>[% yt.hdate %] [% yt.author %]</small>
            <p style="display: none;">[% yt.content %]</p>
          </div>
        [% END %]
      </div>
      <div class="sl">
        <h4 style="display: none;">Smartlab</h4>
        [% FOREACH sl IN sl_news %]
          <div class="slitem [% sl.recency %]">
            <a href="[% sl.url %]">[% sl.title %]</a>
            <small><b>[% sl.author %]</b>&nbsp;[% sl.hdate %]</small></br>
            <small>[% sl.content %]</small>
          </div>
          <p style="display: none;"></p>
        [% END %]
      </div>
      <div class="ot">
        <h4 style="display: none;">Others</h4>
        <div class="otitem" id="page_gen_time"><tt>Gen [% page_gen_time %]</br>Cur <span id="time"></span></tt></div>
        [% FOREACH ot IN ot_news %]
          <div class="otitem [% ot.recency %]">
            <a href="[% ot.url %]">[% ot.title %]</a> [% ot.hdate %]</br>
            <small>[% ot.content %]</small>
          </div>
        [% END %]
      </div>
    </div>
  </body>
  <script>
    window.onload = displayClock();
    function displayClock(){
      document.getElementById("time").textContent = new Date().toLocaleString('sv');
      setTimeout(displayClock, 1000);
    }

    setTimeout(function(){
      location.reload();
    }, 30000); // 30 seconds
  </script>
  <style>
    body {
      background-color: wheat;
    }

    .wrapper {
      display: grid;
      grid-template-columns: 1350px 600px 570px;
      grid-template-rows: 130px max-content;
      gap: 3px;
    }

    .tg {
      /* outer grid (wrapper) rules */
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-start: 1;
      grid-row-end: 2;
      /*grid-column: 1 / 2;
      grid-row: 1 / 2*/
      /* inner grid rules */
      display: grid;
      grid-template-columns: repeat(3, 450px);
      /*grid-template-rows: repeat(1, 400px);*/
      /*grid-template-rows: 200px;*/
      /*grid-auto-rows: 400px;*/
      align-self: start;
    }
    /*.tg:hover {
    }*/
    .tgme_widget_message_bubble {
      margin: 0;
      margin-right: 5px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .tgitem {
      overflow: clip;
      max-height: 500px;
    }
    .tgitem:hover {
      overflow: visible;
      max-height: none;
    }

    div.recent > div.tgme_widget_message_bubble {
      background-color: lightgreen;
    }

    div.recent2 > div.tgme_widget_message_bubble {
      background-color: aquamarine;
    }

    div.recentday > div.tgme_widget_message_bubble {
      background-color: lightblue;
    }

    .yt {
      /* outer grid (wrapper) rules */
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-row-end: 1;
      max-width: 1200px;
      /*grid-column: 3 / 4;
      grid-row: 1;*/
      /* inner grid rules */
      display: grid;
      grid-template-columns: repeat(22, 200px);
      grid-template-rows: repeat(1, 130px);
      overflow: clip;
    }
    .yt div.ytitem {
      padding: 5px;
      margin: 5px;
      margin-bottom: 10px;
      background-color: white;
      overflow: clip;
    }

    .yt div.recent {
      background-color: lightgreen;
    }

    .yt div.recent2 {
      background-color: aquamarine;
    }

    .yt div.recentday {
      background-color: lightblue;
    }

    .sl {
      /* outer grid (wrapper) rules */
      grid-column-start: 2;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 2;
      /*grid-column: 3 / 3;
      grid-row: 2;*/
      /* inner grid rules */
      /*display: grid;
      grid-template-columns: repeat(22, 200px);
      grid-template-rows: repeat(1, 150px);*/
      overflow: clip;
    }
    .sl img {
      max-width: 600px;
    }
    .slitem {
      /*border: 1px solid black;*/
      padding: 5px;
      margin: 5px;
      margin-bottom: 10px;
      /*background-color: beige;*/
      background-color: white;
      max-height: 70px;
      /*max-width: 600px;*/
      overflow: clip;
    }

    .sl div.recent {
      background-color: lightgreen;
    }

    .sl div.recent2 {
      background-color: aquamarine;
    }

    .sl div.recentday {
      background-color: lightblue;
    }


    .slitem:hover {
      overflow: visible;
      max-height: none;
    }

    .ot {
      /* outer grid (wrapper) rules */
      grid-column-start: 3;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 2;
      /*max-width: 600px;*/
      /*grid-column: 4 / 4;
      grid-row: 2;*/
      /* inner grid rules */
      /*display: grid;
      grid-template-columns: repeat(22, 200px);
      grid-template-rows: repeat(1, 150px);*/
    }
    .ot div.otitem {
      /*border: 1px solid black;*/
      padding: 5px;
      margin: 5px;
      margin-bottom: 10px;
      /*background-color: papayawhip;*/
      background-color: white;
      max-height: 70px;
      overflow: clip;
    }

    .ot div.otitem:hover {
      overflow: visible;
      max-height: none;
    }

    .ot div.recent {
      background-color: lightgreen;
    }

    .ot div.recent2 {
      background-color: aquamarine;
    }

    .ot div.recentday {
      background-color: lightblue;
    }

    #page_gen_time {
      background-color: black;
      color: lime;
      font-weight: bolder;
    }
  </style>
</html>
