@import './base.css';
@import './widget-frame.css';
@import './telegram-web.css';

a,
.green {
  /*text-decoration: none;*/
  color: hsla(160, 100%, 0%, 1);
  transition: 0.4s;
  /*padding: 3px;*/
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 0%, 0.05);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /*padding: 0 2rem;*/
  }
}

.marked_as_read {
  filter: opacity(0.4);
}
.marked_as_read:hover {
  filter: opacity(1); /* cancel opacity for marked_as_read to prevent nearby elements to appear behind hovered element */
}

/*
body {
  background-color: wheat;
}
*/

/*+------------------------------------------------------------------+
    Main grid
  +------------------------------------------------------------------+*/
.wrapper {
  display: grid;
  --tg-columns-num: 4;
  --tg-item-width: 400px;
  grid-template-columns: 1600px 630px 630px;
  --yt-rows-num: 2;
  --yt-item-height: 130px;
  --yt-item-width: 195px;
  --yt-section-height: 260px;
  grid-template-rows: var(--yt-section-height) max-content;
  gap: 3px;
  padding-left: 5px;
}

/* grid items */
.tg {
  /* outer grid (wrapper) rules */
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  /* inner grid rules */
  display: grid;
  grid-template-columns: repeat(var(--tg-columns-num), var(--tg-item-width));
  align-self: start;
}

.yt {
  /* outer grid (wrapper) rules */
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  max-width: 1200px;
  /* inner grid rules */
  display: grid;
  grid-template-columns: repeat(6, var(--yt-item-width) );
  grid-template-rows: repeat(var(--yt-rows-num), var(--yt-item-height) );
  /*overflow: clip;*/
}

.sl {
  /* outer grid (wrapper) rules */
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  /* inner grid rules */
  overflow: clip;
}

.ot {
  /* outer grid (wrapper) rules */
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

/*+------------------------------------------------------------------+
    Items
  +------------------------------------------------------------------+*/
.tgitem {
  max-height: 500px;
  overflow: clip;
}
.tgitem:hover {
  overflow: visible;
  z-index: 1;
}

.tgme_widget_message_bubble_tail {
  visibility: hidden;
}

.tgme_widget_message_bubble {
  margin: 0;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*border: 1px solid darkblue;*/
  /*background-color: lightblue;*/
  max-width: none;
}
.yt .ytitem {
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  /*background-color: white;*/
  overflow: clip;
}

.yt .recent {
  /*background-color: lightgreen;*/
}

.yt .recent2 {
  /*background-color: aquamarine;*/
}

.yt .recentday {
  /*background-color: lightblue;*/
}

/*
.ytitem:hover {
  box-shadow: 3px 3px 3px darkblue;
  transform: translate3D(0,-3px,0);
  background-color: aliceblue;
  transition: background-color 300ms linear;
}
*/

.sl img {
  max-width: 600px;
}
.slitem {
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  /*background-color: white;*/
  max-height: 90px;
  overflow: clip;
  /*border: 1px solid darkblue;*/
  /*background-color: lightblue;*/
}


/* .ytitem:hover, .slitem:hover, .otitem:hover */
.slitem:hover {
  overflow: visible;
  max-height: none;
  z-index: 1;
}

.tgme_widget_message_bubble:hover, .ytitem:hover, .slitem:hover, .otitem:hover {
  box-shadow: 3px 3px 3px darkgrey;
  transform: translate3D(0,-3px,0); /*scale(1.00);*/

  /*
  background-color: blue;
  transition: background-color 100ms linear;
  */
  border: 1px solid black;
}


.ot div.otitem {
  /*border: 1px solid black;*/
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  /*background-color: papayawhip;*/
  /*background-color: white;*/
  max-height: 90px;
  overflow: clip;
}

.ot div.otitem:hover {
  overflow: visible;
  max-height: none;
}


#page_gen_time {
  background-color: black;
  color: lime;
  font-weight: bolder;
}

/*+------------------------------------------------------------------+
    Recency colors
  +------------------------------------------------------------------+*/
/*.sl div.recent {
  background-color: lightgreen;
}

.sl div.recent2 {
  background-color: aquamarine;
}

.sl div.recentday {
  background-color: lightblue;
}

.ot div.recent {
  background-color: lightgreen;
}

.ot div.recent2 {
  background-color: aquamarine;
}

.ot div.recentday {
  background-color: lightblue;
}

div.recent > div.tgme_widget_message_bubble {
  background-color: lightgreen;
}

div.recent2 > div.tgme_widget_message_bubble {
  background-color: aquamarine;
}

div.recentday > div.tgme_widget_message_bubble {
  background-color: lightblue;
}
*/
