@import './base.css';

/*
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
*/

body {
  background-color: wheat;
}

/*+------------------------------------------------------------------+
    Main grid
  +------------------------------------------------------------------+*/
.wrapper {
  display: grid;
  grid-template-columns: 1350px 600px 570px;
  grid-template-rows: 130px max-content;
  gap: 3px;
  padding-left: 5px;
}

/* grid items */
.tg {
  /* outer grid (wrapper) rules */
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  /* inner grid rules */
  display: grid;
  grid-template-columns: repeat(3, 450px);
  align-self: start;
}

.yt {
  /* outer grid (wrapper) rules */
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
  max-width: 1200px;
  /* inner grid rules */
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: repeat(1, 130px);
  overflow: clip;
}

.sl {
  /* outer grid (wrapper) rules */
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  /* inner grid rules */
  overflow: clip;
}

.ot {
  /* outer grid (wrapper) rules */
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

/*+------------------------------------------------------------------+
    Items
  +------------------------------------------------------------------+*/
.tgitem {
  max-height: 500px;
  overflow: clip;
}
.tgitem:hover {
  overflow: visible;
  z-index: 1;
}

.tgme_widget_message_bubble_tail {
  visibility: hidden;
}

.tgme_widget_message_bubble {
  margin: 0;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid darkblue;
  background-color: lightblue;
  max-width: none;
}
.yt .ytitem {
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  background-color: white;
  overflow: clip;
}

.yt .recent {
  background-color: lightgreen;
}

.yt .recent2 {
  background-color: aquamarine;
}

.yt .recentday {
  background-color: lightblue;
}

/*
.ytitem:hover {
  box-shadow: 3px 3px 3px darkblue;
  transform: translate3D(0,-3px,0);
  background-color: aliceblue;
  transition: background-color 300ms linear;
}
*/

.sl img {
  max-width: 600px;
}
.slitem {
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  background-color: white;
  max-height: 70px;
  overflow: clip;
  border: 1px solid darkblue;
  background-color: lightblue;
}


/* .ytitem:hover, .slitem:hover, .otitem:hover */
.slitem:hover {
  overflow: visible;
  max-height: none;
  z-index: 1;
}

.tgme_widget_message_bubble:hover, .ytitem:hover, .slitem:hover, .otitem:hover {
  box-shadow: 3px 3px 3px darkblue;
  transform: translate3D(0,-3px,0); /*scale(1.00);*/
  background-color: aliceblue;
  transition: background-color 300ms linear;
}


.ot div.otitem {
  /*border: 1px solid black;*/
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  /*background-color: papayawhip;*/
  background-color: white;
  max-height: 70px;
  overflow: clip;
}

.ot div.otitem:hover {
  overflow: visible;
  max-height: none;
}


#page_gen_time {
  background-color: black;
  color: lime;
  font-weight: bolder;
}

/*+------------------------------------------------------------------+
    Recency colors
  +------------------------------------------------------------------+*/
/*.sl div.recent {
  background-color: lightgreen;
}

.sl div.recent2 {
  background-color: aquamarine;
}

.sl div.recentday {
  background-color: lightblue;
}

.ot div.recent {
  background-color: lightgreen;
}

.ot div.recent2 {
  background-color: aquamarine;
}

.ot div.recentday {
  background-color: lightblue;
}

div.recent > div.tgme_widget_message_bubble {
  background-color: lightgreen;
}

div.recent2 > div.tgme_widget_message_bubble {
  background-color: aquamarine;
}

div.recentday > div.tgme_widget_message_bubble {
  background-color: lightblue;
}
*/
